.post {
  background-color: var(--grey-dark);
  width: 1080px;
  height: 1350px;
  min-width: 1080px;
  min-height: 1350px;
  max-width: 1080px;
  max-height: 1350px;
  padding: 8em 4em;
  position: relative;
  overflow: hidden;
  font-size: 1.5em;
}

.post-full {
  height: 1920px;
  min-height: 1920px;
  max-height: 1920px;
  padding: 10em 4em;
}

.code-snippet-center {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .post {
    transform: scale(0.3);
  }
}

.post:before {
  content: "";
  border-bottom: 1px solid var(--white);
  transform: rotate(-45deg);
  width: 26em;
  opacity: 0.4;
  position: absolute;
  top: 9em;
  left: -5em;
  z-index: 0;
}

.post:after {
  content: "";
  border-bottom: 1px solid var(--white);
  transform: rotate(-45deg);
  width: 48em;
  opacity: 0.4;
  position: absolute;
  bottom: 15em;
  right: -7em;
  z-index: 0;
}

.triangle-top {
  fill: var(--grey);
  position: absolute;
  top: 0;
  right: 0;
  width: 11em;
  height: 11em;
}

.triangle-bottom {
  fill: var(--grey);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 4em;
  height: 4em;
  transform: rotate(180deg);
}

.arrow {
  width: 1.25em;
  position: absolute;
  top: 2em;
  right: 2em;
}

.content {
  position: relative;
  width: 100%;
}

.code-snippet-center .content {
  margin-bottom: 3em;
}

.title,
.title-big {
  margin: 0 0 0.25em;
  font-weight: 400;
  font-family: "Anton", sans-serif;
}

.title {
  font-size: 4em;
}

.title-big {
  font-size: 5em;
}

.title span,
.title-big span {
  color: var(--green);
}

.sub-title {
  font-size: 1.5em;
  margin: 0;
  font-family: "Anton", sans-serif;
}

.img-container {
  text-align: right;
  margin-top: -6em;
  position: relative;
  z-index: 5;
  margin-left: auto;
  max-width: 80%;
}

.img {
  position: relative;
}

.infos {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  position: absolute;
  width: calc(100% - 8em);
  bottom: 1.25em;
  z-index: 5;
}

.code-container {
  background-color: var(--grey);
  position: relative;
  z-index: 5;
  border-radius: 1em;
  margin-top: 2em;
}

.code-container-margin {
  margin-top: 5em;
}

.code-header {
  margin: 0.5em;
  background-color: var(--grey-dark);
  padding: 0.75em 1em;
  position: relative;
  top: 0.5em;
  border-radius: 0.5em;
}

.code-content {
  padding: 0.5em 1.5em;
}

.code-content pre {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

code {
  font-size: 0.9em;
}

.text {
  font-size: 1.05em;
  line-height: 1.4;
}

.text-big {
  font-size: 1.5em;
}

.content-img {
  position: relative;
  z-index: 1;
  border-radius: 0.5em;
}

.backcover-img {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  position: relative;
  z-index: 1;
}

.list-item {
  font-size: 1.8em;
  line-height: 0.5;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  display: inline-block;
  position: relative;
  top: 0.1em;
}

.link-container {
  background-color: var(--grey);
  padding: 0.5em 1.5em;
  border-radius: 0.5em;
  margin-top: 2em;
  text-align: center;
  position: relative;
}

.link-image {
  margin-top: 2em;
  width: 100%;
  border-radius: 0.5em;
  position: relative;
  z-index: 5;
}

.link {
  text-align: center;
  background-color: var(--grey);
  border-radius: 0.5em;
  padding: 0.25em;
  font-size: 1.2em;
  position: relative;
}

.link-icon-container {
  width: 1.2em;
  height: 1.2em;
  fill: white;
  position: absolute;
  left: 1em;
  right: 0;
  bottom: 0;
  top: 50%;
  transform: translateY(-50%);
}

.link-icon {
  width: 100%;
  height: 100%;
}

.link-text {
  margin: 0;
}
