.profile {
  padding: 0.5em 1.25em;
  background-color: var(--grey);
  border-radius: 1em;
  display: flex;
  align-items: center;
  width: min-content;
}

.profile-img {
  width: 2.5em;
  height: 2.5em;
  border-radius: 100%;
}

.profile-text {
  margin-left: 1em;
}

.profile-text > * {
  margin-top: 0;
  margin-bottom: 0;
}

.profile-name {
  opacity: 0.5;
  font-size: 0.8em;
  margin-bottom: 0.25em;
  font-family: "Roboto", sans-serif;
}

.profile-follow {
  white-space: nowrap;
}
